.input-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    width: 97%;
    padding: 10px;
    border: 1px solid #f36100;
    border-radius: 50px;
    font-size: 1rem;
    outline: none;
    margin: 10px 0;
}

textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #f36100;
    border-radius: 40px;
    font-size: 1rem;
    outline: none;
    margin: 10px 0;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #f36100;
    box-shadow: 0 0 5px #f36100;
}

textarea {
    resize: vertical;
    height: 80px;
}

.checkbox-container,
.radio-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    padding: 10px;
    background-color: #f36100;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #d94f00;
}